<div id="footer">
	<!--Footer-->
	<div class="pre-footer">
		<div class="jumbotron" {% if data.footer.backgroundColor %} style="background-color: {{ data.footer.backgroundColor }};" {% else %} style="background-color: #68717e;" {% endif %}>
			<h2 {% if data.footer.textColor %} style="color:{{ data.footer.textColor }}; font-size: 40px" {% else %} style="color:white; font-size: 40px;" {% endif %}>
				{{ data.footer.content.mainContent   | raw}}
			</h2>

			<p>
				<a class="btn btn-success btn-lg" href="{{ data.footer.buttonSlug }}" role="button" style="margin-top: 22px; text-transform: uppercase">
					{{ data.footer.buttonText }}
				</a>
			</p>
		</div>
	</div>

	<div class="footer ">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<ul>
						<li><a href="">Bảng giá</a></li>
						<li><a href="">Hỗ trợ</a></LI>
						<li><a href="">Uplevo</a></li>
						<li><a href="">Kinh nghiệm</a></li>
						<li><a href="">Blog</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<img id="logo-uplevo" class="logo" src="images/logo-ion.png" alt="">
				</div>
				<div class="col-md-4">
					<div class="logo" style="display: inline-block">
						<img width="30px" height="30px" src="images/icon-tw.svg" alt="">
						<img width="30px" height="30px" src="images/icon-fb.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
