<div class="navbar-fixed-top app-navbar tone-color">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div id="logo" class="navbar-brand">

				<a href="/">
					<img src="{{ data.navigation.logo.url }}">
				</a>

			</div>
		</div>
		<div id="navbar" class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#form-request" class="btn btn-nav" role="button" data-type="button"
						{% if data.navigation.buttonColor %}
							style="background-color: {{ data.navigation.buttonColor }}"
						{% else %}
							style="background-color: #77a641;"
						{% endif %}>
						{{ data.navigation.buttonText }}
					</a>
				</li>

				{#{%- for link in navLinks -%}#}
				{#{%- set linkClass = '' -%}#}
				{#{%- if link.key == section -%}#}
				{#{%- set linkClass = ' class="active"' -%}#}
				{#{%- endif %}#}
				{#<li{{ linkClass | safe }}>#}
				{#<a href="{{ link.href }}">{{ link.label }}</a>#}
				{#</li>#}
				{#{%- endfor %}#}
			</ul>
		</div>
	</div>


	<ul class="nav navbar-nav navbar-right">
		{%- if user.canAccessKeystone -%}
			<li><a href="/keystone">Open Keystone</a></li>
			<li><a href="/keystone/signout">Sign Out</a></li>
		{%- endif %}
	</ul>
</div>
