*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}
.row{
  margin: 0;
  padding: 0;
}
nav{
  padding-top: 10px;
  padding-bottom: 10px;
}

#btn-make-req-des:hover{
  margin-top: 0;
  background-color: #1E88E5;
}

.nav-btn{
  background-color: #77A641;
  color: #f8f8f8;
  margin-right: 30%;
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 600;
}

.nav-btn:hover{
  background-color: red;
  color: #f8f8f8;
  margin-right: 30%;
  margin-top: 0;
  font-weight: 600;
}

.nav-btn a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.carousel-caption{
  color: black;
  font-size:18px;
  font-weight: 600;
}

.col-md-4, .col-md-8{
  padding: 0;
  margin: 0;
}

.jumbotron{
  height: 400px;
  margin-bottom: 0;
  margin-top: 10px;
}

.hr-left{
  background-color: black;
  border: 0 none;
  color: black;
  height: 1px;
  max-width: 200px;
  min-width: 50px;
  margin-top: -10px;
  margin-bottom: 0;
  margin-right: 20px;
}
.hr-right{
  background-color: black;
  border: 0 none;
  color: black;
  height: 1px;
  max-width: 200px;
  min-width: 50px;
  margin-top: -10px;
  margin-bottom: 0;
  margin-left: 20px;
}

h1, h2, h3{
  margin-bottom: 20px;
}
p{
  margin-top: 20px;
}
.footer{
  color: #D0D5D9;
  background-color: #323A45;
  margin-top: 0;
  height: 160px;
}

.footer li{
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #adb0b5;
}

.footer a{
  color: #adb0b5;
  text-decoration: none;
}

.footer a:hover{
  color: white;
  cursor: hand;
}

.logo{
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
  width: 200px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

li{
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
}
#logo-brand{
  margin-left: 10%;
}

#logo-brand img{
  cursor: hand;
  max-height: 40px;
  min-height: 20px;
  max-width: 260px;
  min-width: 100px;
  margin-top: 0;
  margin-bottom: 0;
}
main{
  margin:0 auto;
  padding: 0;
}
#main-nav-content{
  margin-left: 30px;
  margin-right: 30px;
}
.container-fluid .jumbotron{
  border-radius: 0;
}
.main-content{
  padding: 0;
  margin: 0;
  /*float: left;*/
}

.main-content img{
  height: auto;
  width:100%;
  padding: 0;
  margin: 0;
}




.text-intro{
  text-align: center;
  max-width: 800px;
  height: auto;
  clear: both;
  margin-left: 20%;
  margin-right: 20%;
  vertical-align: middle;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}
.text-intro p{
  font-size: 17px;
  font-weight: 700;
  font-family: Roboto Condensed;
}
.second-text {
  padding-top: 18px;
}
.app-navbar{
  min-height: 66px;
  padding-top:3px;
  padding-bottom:3px;
  -webkit-font-smoothing: antialiased;
}

.tone-color{
  background-color: #323a45;
}

#logo img{
  width:260px;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

a.btn-nav{
  color: #f8f8f8;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-right{
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav a.btn-nav:hover, a.btn-nav:hover{
  background-color: #ef4c23;
  color:#f8f8f8;
}
.navbar-header .icon-bar{
  background-color: #f8f8f8;
}

.navbar-nav > li > a{
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  margin-right: 16px;
  margin-left: 16px;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 0;
  margin-top: 10px;
  max-height: 50px;
  max-width: 200px;
  min-width: 50px;
}

.navbar-fixed-top{
  background-color: #323A45;
  max-height: 60px;
}

.col-md-6{
	padding: 0; !important;
}


#jumbo1{
  /*background: url("../images/banner_3.jpg") no-repeat ;*/
    /*background-position: center;*/
   
}

.container-fluid{
  margin: 0;
  padding: 0;
}

.pre-image-text-content{
  text-align: center;
  vertical-align: middle;
  margin: 30px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 43px;
  padding-right: 26%;
  padding-left: 0%;
  min-width: 100px;
}

.first-text h1{
  font-family: Roboto, sans-serif;
  font-size: 29px;
}

.pre-image-text-content p{
  text-align: center;
  vertical-align: middle;
  font-size: 23px;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

.pre-image-text-content h2{
  font-size: 43px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  line-height: 1.3;
  padding-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}
.jumbotron-services{
	margin-top: 160px;
	margin-bottom: 160px;
}

.jumbotron-services img{
	height: 60px;
	width: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.jumbotron-services p{
	margin-bottom: 15px;
	font-size: 20px;
	margin-right: 40px;
	margin-left: 40px;
	font-weight: 200;
	text-align: center;
	font-style: oblique;
}
.jumbotron-services h3{
	text-align: center;
	font-weight: 600;
}
.pre-footer{
  text-align: center;
  vertical-align: middle;
  height: auto;
}
.pre-footer h2{
	color: white;
	/*font-size: 30px;*/
  margin-left: 10px;
  margin-right: 10px;
}

.line{
  padding-top: 18px;
}

.glyphicon-star{
  font-size: 16px;
}

/*Slider Agent*/
.testimonials{
  padding-top: 30px;
}
.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 60px;
}
.owl-controls .owl-page.active,
.owl-controls .owl-page:hover {
  background: #f8f8f8;
}
.testimonials-slider {
  padding: 0px 0 95px 0;
  background-color: #f8f8f8;
  text-align: center;
}
.testimonial-info{
  max-width: 800px;
  margin-left: 10%;
  margin-right: 10%;
}
.testimonial-images {
  max-width: 370px;
  margin: 0 auto;
  padding: 25px 0;
}
.testimonial-images .item {
  padding: 10px;
}
.testimonial-images .item span {
  background: rgba(181, 181, 181, 0.4);
}
.testimonial-images .item img {
  opacity: 0.4;
  width: 71px;
  height: 71px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.testimonial-images .owl-item.synced img {
  opacity: 1;
  transform: scale(1.2);
}
.testimonial-content {
  color: #000;
  font-size: 16px;
  font-family: Roboto Condensed;
  max-width: 1030px;
  margin: 0 auto;
  padding: 15px 0 0;
}
.testimonial-content .title {
  font-size: 24px;
  color: #96add2;
  text-transform: uppercase;
  font-weight: 700;
}
.testimonial-content .title:before {
  height: 1px;
  width: 90px;
  background: #f8f8f8;
  content: "";
  display: block;
  margin: 20px auto;
}
.testimonial-content .job {
  font-weight: 900;
  font-size: 14px;
}

.testimonial p{
  font-size: 20px;
}

.app-info.banner, .app-info.banner .jumbotron{
  background-color: #68717e;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  max-height: 100px;
}

.app-info.banner h2{
  color: #f8f8f8;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 1.4;
    font-weight: 500;
    letter-spacing: 1px;
}
.app-info.banner .post-center{
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.app-info{
  background-color: #f8f8f8;
  clear: both;
  padding-top: 0;
 }
.app-info .post-center{
  text-align: center;
  padding-top: 68px;
}
.testimonials .post-center{
  padding-bottom: 0px;
  margin-bottom: -243px;
}
.app-info .jumbotron{
  background-color: #f8f8f8;

}
.app-info h1{
  font-size: 29px;
  font-weight: 400;
}
.app-info h2{
  font-size: 27px;
  font-weight: 500;
  font-family: Roboto;
}

.app-info p{
  padding-bottom: 20px;
}

.btn{
  border-radius: 2px; !important;
  border: none;
}
.btn-primary{
  background-color: #5C86C3;
}
.job{
  font-family: "Roboto Condensed";
  font-weight: 900;
  font-size: 14px;
}
.request-form{
  background-color: #2A3039;
  color: white;
  padding-top: 20px;
}
.main-form{
  width: 600px;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
}
.request-form-text-intro{
  width: 800px;
  text-align: center;
  margin-left: 22%;
}

.two-footer-logo{
  height: 21px;
  width: 21px;
}

/*Extra small devices (phones, less than 768px)*/
/*Small devices (tablets, 768px and up)*/
/*Medium devices (desktops, 992px and up)*/
/*Large devices (large desktops, 1200px and up)*/


/*<= tablet*/
@media (max-width: 800px) and (min-width: 600px){
  #jumbo1 {
    background: url("../images/banner_3.jpg") fixed;
    background-position: center;
    /*background-size: cover;*/
    margin-bottom: 0;
    min-height: 400px;
   margin-top: 40px;
  }

  .text-intro {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .pre-footer {
    height: auto;
    font-size: 20px;
    margin-top: 5px;
  }

  .pre-footer h2{
    font-size: 20px;
  }
  #logo img{
    max-width: 180px;
    margin-left: 30px;
    margin-top: 5px;
  }
  .footer{
    height: auto;
    text-align: center;
  }
  .footer .col-md-4{
    text-align: center;
  }
  .footer .logo{
    margin-left: 20%;
    margin-right: 20%;
  }
  .line{
    width: auto;
  }
  .hr-left, .hr-right{
    margin: 2px;
    width: 20px;
  }
  .pre-image-text-content {
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 43px;
    padding-right: 0;
    padding-left: 0;
    min-width: 100px;
  }
  .navbar-header img{
    width: 100px;
    margin-left: 10px;
  }
  .main-content img{
    width: 100%;
  }
}

@media (max-width: 600px) and (min-width: 200px){
  *{
    text-align: center;
  }
  .footer {
    text-align: center;
    vertical-align: middle;
  }
  .footer .logo, .footer .two-footer-logo{
    margin-left: 20%;
    margin-right: 20%;
  }
  .footer .col-md-4{
    text-align: center;
    display: block;
  }
  .footer #logo-uplevo{
    display: none;
  }
  .pre-footer h2{
    font-size: 18px;
    line-height: 40px;
  }
  #logo img{
    width: 200px;
    margin-left: 30px;
  }
  .line{
    width: auto;
  }
  .hr-left, .hr-right{
    margin: 2px;
    width: 20px;
  }
  .pre-image-text-content{
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 43px;
    padding-right: 0;
    padding-left: 0;
    min-width: 100px;
  }
  .jumbo1{
    background: url("../images/banner_3.jpg") fixed;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    margin-top:40px;
    min-height: 180px;
  }
  .main-content img{
    width: 100%;
  }
  #logo, .navbar{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media all {
  .row{
    margin: 0;
    padding: 0;
  }

}


